
<% content_for :title do %>
  <p class="title">FoodLog Application</p> <%= Time.now.strftime("%A %d, %Y") %>
<% end %>

<div id="entries" class="columns mt-6 is-centered">
  <% @entries.each do |entry| %>
  <div class="column is-one-quarter">
  <header class="subtitle has-text-weight=bold">
    <%= entry.meal_type %>
  </header>
  <div class="card-content">
    <div class="content">
      <%= render entry %>
      <p class="italic"> Logged <%= time_ago_in_words(entry.created_at)%> ago </p>
    </div>
    </div>
  </div>
  <div class="card-footer">
    <p>
      <%= link_to "Show this entry", entry %>      
    </p>
    
    </div>
  <% end %>
</div>

<div class="actions">
  <%= link_to "New entry", new_entry_path, class: "button is-success" %>
</div>
</br>
<div class="actions">
  <%= link_to "All Entries", archives_index_path, class: "button is-link is-outlined is-centered"  %>
</div>
