<% content_for :title do %>
  <p class="title"><%= @entry.meal_type%></p> <%= Time.now.strftime("%A %d, %Y") %>
<% end %>

<%= render @entry %>

</br>
<div class="actions">
  <%= link_to "Edit this entry", edit_entry_path(@entry), class: "button is-success"%> |
  <%= link_to "Back to entries", entries_path, class: "button is-grey" %>
  </br>
  <%= button_to "Destroy this entry", @entry, method: :delete, class: "button is-danger" %>
</div>
